
{{#each this}}
<div class="countryCard">
    <h2 class="countryName">{{name}}</h2>
    <p class="capital">{{capital}}</p>
    <p class="population">{{population}}</p>
    <div class="flag-container">
        <img src="{{flag}}" alt="{{name}}">
    </div>
</div>
{{/each}}