
{{#each this}}
<div class="countryCard">
    <div class="info-container">
        <h2 class="countryName">{{name}}</h2>
        <p class="capital">Capital: {{capital}}</p>
        <p class="population">Population: {{population}}</p>
    </div>
    <div class="flag-container">
        <img src="{{flag}}" alt="{{name}}">
    </div>
</div>
{{/each}}